;; shadow-cljs configuration
{
 :source-paths
 ["development"
  "src"]

 :dependencies
 [[metosin/malli "0.5.0"]
  [camel-snake-kebab "0.4.2"]]

 :builds
 {:dev {:closure-defines {malli.registry/type "custom"}
        :target :node-library
        :output-to "out/dev.js"
        :exports {}}}}

;; (do (shadow/watch :dev) (shadow/repl :dev))

